{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block page_title %}{% endblock page_title %} | The world of BM
    </title>
  </head>
  <body>
    {% include "partials/header.html" %}
    <main class="px-6">
      {% block content %} 
      {% endblock content %}
    </main>
    <a href="#header">
      <div class="w-10 h-10 fixed bottom-5 right-8 flex justify-center items-center rounded-full bg-white shadow-lg animate-bounce">
        <i class="fas fa-angle-up text-maincolor"></i>
      </div>
    </a>
    {% include "partials/footer.html" %}
  </body>
  <script src="https://kit.fontawesome.com/aea9b7ed9f.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/readmore.js' %}"></script>
</html>
