{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    <div class="mt-8">
        <div class="flex items-center">
            <h1 class="text-3xl font-bold text-maincolor">Movies</h1>
            <a class="text-2xl font-bold text-maincolor ml-3 hover:text-blue-400" href="{% url "movies:movies" %}"> <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div class="my-3">
            {% for movie in movies %}
                {% include "mixins/movies.html" with movie=movie%}
            {% endfor %}
        </div>
    </div>

    <div class="mt-8">
        <div class="flex items-center">
            <a href="{% url "books:books" %}">
                <h1 class="text-3xl font-bold text-maincolor">
                    Books
                    <span class="text-2xl ml-3 hover:text-blue-500">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </h1>
            </a>
        </div>

        <div class="grid grid-cols-colsAutoFill gap-4 mt-8">
            {% for book in  books %}
                {% include "mixins/books.html" with book=book%}
            {% endfor %}
        </div>
    </div>

    <div class="mt-8">
        <div class="flex items-center">
            <a href="#">
                <h1 class="text-3xl font-bold text-maincolor">
                    People
                    <span class="text-2xl ml-3 hover:text-blue-500">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </h1>
            </a>
        </div>

        <div class="grid grid-cols-colsAutoFill gap-4 mt-8">
            <!-- add people -->
        </div>
    </div>
{% endblock content %}