{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block page_title %}{% endblock page_title %} | The world of BM
    </title>
  </head>
  <body class="h-screen">
    <main class="px-6">
        <div class="container flex justify-center items-center max-w-full my-16">
            <a href="{% url 'core:home' %}">
                <img src="{% static 'img/logo.png' %}" />
            </a>
        </div>
      {% block content %} 
      {% endblock content %}
    </main>

  </body>
  <script src="https://kit.fontawesome.com/aea9b7ed9f.js" crossorigin="anonymous"></script>
</html>