{% extends 'base.html' %}

{% block page_title %}
    {{user_obj.first_name}}'s page
{% endblock page_title %}

{% block mypage %}
    <main class="w-full h-full">
        <div class="flex flex-col items-center bg-gradient-to-r from-maincolor to-blue-500 py-10">
            <span class="text-3xl font-bold text-white">{{user_obj.first_name}} {{user_obj.last_name}}</span>
            <span class="text-white"><i class="far fa-envelope mr-1"></i>{{user_obj.email}}</span>
        </div>

        <!--About bio section -->
        <div class="mx-6 my-10 p-4 border rounded shadow-sm">
            <h1 class="text-2xl mb-10 underline text-blue-400">About {{user_obj.first_name}}</h1>
            <span class="text-gray-600">{{user_obj.bio | linebreaksbr}}</span>
        </div>

        <!--Information section -->
        <div class="mx-6 my-10 p-4 border rounded shadow-sm">
            <h1 class="text-2xl mb-10 underline text-blue-400">Information</h1>
            <ul class="px-20 flex justify-around">
                <li class="flex flex-col items-center">
                    <span class="text-blue-300 text-xl mb-4">{{user_obj.preference | capfirst}}</span>
                    <span class="text-gray-400 text-sm">Preference</span>
                </li>
                <li class="flex flex-col items-center">
                    <span class="text-blue-300 text-xl mb-4">{{user_obj.language | capfirst}}</span>
                    <span class="text-gray-400 text-sm">Language</span>
                </li>
                <li class="flex flex-col items-center">
                    <span class="text-blue-300 text-xl mb-4">{{user_obj.fav_book_genre | capfirst}}</span>
                    <span class="text-gray-400 text-sm">Favorite book genre</span>
                </li>
                <li class="flex flex-col items-center">
                    <span class="text-blue-300 text-xl mb-4">{{user_obj.fav_movie_genre | capfirst}}</span>
                    <span class="text-gray-400 text-sm">Favorite movie genre</span>
                </li>
            </ul>
        </div>

        <!--My review section-->
        <div class="mx-6 my-10 p-4 border rounded shadow-sm">
            <h1 class="text-2xl mb-10 underline text-blue-400">My reviews</h1>
            <span class="text-gray-600">review lists.</span>
        </div>

        <!--Edit profile button-->
        {% if user == user_obj%}
            <div class="group mr-3 mb-5">
                <a class="flex justify-center items-center px-2 py-2 border border-green-500 rounded-lg group-hover:bg-green-500" href="#">
                    <p class="text-green-500 group-hover:text-white">Edit my profile</p>
                </a>
            </div>
        {% endif %}
    </main>
{% endblock mypage %}